# Pandas

Using the heart-attack.csv example below, fill in the code blocks for a new dataset, auto-mpg

The first step is to download the auto-mpg data set (auto-mpg.data and auto-mpg.names) from UCI: https://archive.ics.uci.edu/ml/datasets/Auto%2BMPG

In this file, replace gender with origin and age with mpg

Rename this file lab0-pandas-auto_mpg.ipynb and submit your GitHub link to D2L

## Resources
1. Ch 5-6 in Python for Data Analysis, 2nd Ed, Wes McKinney (UCalgary library and https://github.com/wesm/pydata-book)
2. Ch 3 in Python Data Science Handbook, Jake VanderPlas (Ucalgary library and https://github.com/jakevdp/PythonDataScienceHandbook)

First, import Pandas and NumPy:

In [1]:
import numpy as np
import pandas as pd

## Load data from file

Most often data will come from somewhere, often csv files, and using `pd.read_csv()` will allow smooth creation of DataFrames.

Let's load the required dataset:

In [2]:
# Check head of dataset
# Hint: for MacOs use: !head filename or for Windows use: !type filename
!head auto-mpg.data

18.0   8   307.0      130.0      3504.      12.0   70  1	"chevrolet chevelle malibu"
15.0   8   350.0      165.0      3693.      11.5   70  1	"buick skylark 320"
18.0   8   318.0      150.0      3436.      11.0   70  1	"plymouth satellite"
16.0   8   304.0      150.0      3433.      12.0   70  1	"amc rebel sst"
17.0   8   302.0      140.0      3449.      10.5   70  1	"ford torino"
15.0   8   429.0      198.0      4341.      10.0   70  1	"ford galaxie 500"
14.0   8   454.0      220.0      4354.       9.0   70  1	"chevrolet impala"
14.0   8   440.0      215.0      4312.       8.5   70  1	"plymouth fury iii"
14.0   8   455.0      225.0      4425.      10.0   70  1	"pontiac catalina"
15.0   8   390.0      190.0      3850.       8.5   70  1	"amc ambassador dpl"

In [13]:
# Replace code below with code to load auto-mpg dataset
# Hint: Use attribute information from website to determine column names
# Hint: Load with na_values = '?' and sep=r'\s+'
col_names = ['mpg','cylinders','displacement','horsepower','weight','acceleration','model year','origin','car name']
data = pd.read_csv('auto-mpg.data', na_values = '?', sep=r'\s+', header = None, names = col_names)
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

After loading data, it is good practice to check what we have. Usually, the sequences is:
1. Check dimension
2. Peek at the first rows
3. Get info on data types and missing values
4. Summarize columns

In [14]:
# Check dimension (rows, columns) 
data.shape

(398, 9)

In [15]:
# Peek at the first rows
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [16]:
# Column names are
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [17]:
# Get info on data types and missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

## Summarize values
What is the mean, std, min, max in each column?

In [18]:
data.mean()

/var/folders/vv/clx4_scs0t1cm3znmkxkwl0w0000gn/T/ipykernel_1534/531903386.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()

mpg               23.514573
cylinders          5.454774
displacement     193.425879
horsepower       104.469388
weight          2970.424623
acceleration      15.568090
model year        76.010050
origin             1.572864
dtype: float64

In [19]:
# where are the other columns? Check data types
data.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

Now we can describe all columns, meaning printing basic statistics. Note that by default Pandas ignores NaN, whereas NumPy does not.

In [20]:
data.describe() # ignores NaN

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

We could be interested by these statistics in each of the values from one column. To get these, we first group values by those values, then ask for the description. We will only look at one separate variable for clarity

In [23]:
# Replace variables to correspond to auto-mpg dataset
data.groupby(['origin','model year']).describe()

                    mpg                                                     \
                  count       mean        std   min     25%    50%     75%
origin model year
1      70          22.0  15.272727   3.507568   9.0  14.000  15.00  17.750
       71          20.0  18.100000   4.655500  12.0  14.000  18.00  19.750
       72          18.0  16.277778   4.860471  11.0  13.000  14.00  19.250
       73          29.0  15.034483   3.212506  11.0  13.000  14.00  18.000
       74          15.0  18.333333   4.775932  13.0  14.500  16.00  20.500
       75          20.0  17.550000   2.855742  13.0  15.000  17.50  19.250
       76          22.0  19.431818   4.981622  13.0  15.625  18.25  23.625
       77          18.0  20.722222   5.973525  15.0  16.000  18.00  25.250
       78          22.0  21.772727   4.800216  17.5  19.200  20.20  22.600
       79          23.0  23.478261   6.419286  15.5  18.350  21.50  27.900
       80           7.0  25.914286   4.106673  19.1  23.950  26.40  27.950
       81          13.0  27.530769   6.066353  17.6  23.500  26.60  30.000
       82          20.0  29.450000   4.871777  22.0  26.750  28.00  32.500
2      70           5.0  25.200000   0.836660  24.0  25.000  25.00  26.000
       71           4.0  28.750000   1.500000  27.0  27.750  29.00  30.000
       72           5.0  22.000000   2.915476  18.0  21.000  22.00  23.000
       73           7.0  24.000000   3.511885  19.0  22.000  24.00  26.000
       74           6.0  27.000000   2.529822  24.0  26.000  26.00  28.250
       75           6.0  24.500000   2.509980  22.0  23.000  24.00  25.000
       76           8.0  24.250000   5.042675  16.5  19.750  26.00  28.250
       77           4.0  29.250000   5.979130  21.5  27.125  29.75  31.875
       78           6.0  24.950000  10.439684  16.2  17.825  20.95  29.025
       79           4.0  30.450000   5.325724  25.4  26.750  29.55  33.250
       80           9.0  37.288889   5.493734  29.8  34.300  36.40  41.500
       81           4.0  31.575000   2.794489  28.1  30.050  31.85  33.375
       82           2.0  40.000000   5.656854  36.0  38.000  40.00  42.000
3      70           2.0  25.500000   2.121320  24.0  24.750  25.50  26.250
       71           4.0  29.500000   4.434712  25.0  26.500  29.00  32.000
       72           5.0  24.200000   3.563706  19.0  23.000  24.00  27.000
       73           4.0  20.000000   1.632993  18.0  19.500  20.00  20.500
       74           6.0  29.333333   3.444803  24.0  27.250  31.00  31.750
       75           4.0  27.500000   4.358899  24.0  24.000  26.50  30.000
       76           4.0  28.000000   6.377042  19.0  25.750  30.00  32.250
       77           6.0  27.416667   5.034051  21.5  23.000  28.00  31.125
       78           8.0  29.687500   6.134082  21.1  26.375  28.50  33.625
       79           2.0  32.950000   1.626346  31.8  32.375  32.95  33.525
       80          13.0  35.400000   6.234848  23.7  32.200  33.80  38.100
       81          12.0  32.958333   4.466127  24.2  32.125  33.30  35.575
       82           9.0  34.888889   2.713137  31.0  32.000  36.00  37.000

                        cylinders            ...   weight          \
                    max     count      mean  ...      75%     max
origin model year                            ...
1      70          22.0      22.0  7.636364  ...  4350.75  4732.0
       71          28.0      20.0  6.200000  ...  4167.75  5140.0
       72          28.0      18.0  6.888889  ...  4362.25  4633.0
       73          23.0      29.0  7.241379  ...  4464.00  4997.0
       74          28.0      15.0  6.266667  ...  4199.00  4699.0
       75          23.0      20.0  6.400000  ...  3899.50  4668.0
       76          29.0      22.0  6.363636  ...  3956.50  4380.0
       77          33.5      18.0  6.222222  ...  4158.75  4335.0
       78          36.1      22.0  6.000000  ...  3441.25  4080.0
       79          35.7      23.0  6.260870  ...  3835.00  4360.0
       80          32.1       7.0  4.285714  ...  2954.00  3381.0
       81          39.0      13.0  4.923077  ...  3060.00  3725.0
       82          38.0      20.0  4.300000  ...  2842.50  3035.0
2      70          26.0       5.0  4.000000  ...  2430.00  2672.0
       71          30.0       4.0  4.000000  ...  2086.25  2123.0
       72          26.0       5.0  4.000000  ...  2933.00  2979.0
       73          29.0       7.0  4.000000  ...  2621.00  2868.0
       74          31.0       6.0  4.000000  ...  2239.25  2300.0
       75          29.0       6.0  4.000000  ...  2882.25  2957.0
       76          29.5       8.0  4.250000  ...  3180.00  3820.0
       77          36.0       4.0  4.000000  ...  2292.50  2600.0
       78          43.1       6.0  4.833333  ...  3062.50  3410.0
       79          37.3       4.0  4.250000  ...  3275.00  3530.0
       80          44.3       9.0  4.111111  ...  2500.00  3250.0
       81          34.5       4.0  4.500000  ...  3177.50  3230.0
       82          44.0       2.0  4.000000  ...  2092.50  2130.0
3      70          27.0       2.0  4.000000  ...  2311.50  2372.0
       71          35.0       4.0  4.000000  ...  2154.50  2228.0
       72          28.0       5.0  3.800000  ...  2330.00  2506.0
       73          22.0       4.0  4.250000  ...  2486.00  2807.0
       74          32.0       6.0  4.000000  ...  2294.00  2489.0
       75          33.0       4.0  4.000000  ...  2584.25  2702.0
       76          33.0       4.0  4.500000  ...  2348.75  2930.0
       77          33.5       6.0  4.166667  ...  2606.25  2815.0
       78          39.4       8.0  4.000000  ...  2432.50  2560.0
       79          34.1       2.0  4.000000  ...  2008.75  2020.0
       80          46.6      13.0  4.076923  ...  2434.00  2910.0
       81          39.1      12.0  4.333333  ...  2620.00  2930.0
       82          38.0       9.0  4.000000  ...  2205.00  2665.0

                  acceleration                                            \
                         count       mean       std   min     25%    50%
origin model year
1      70                 22.0  11.977273  2.945850   8.0  10.000  11.25
       71                 20.0  14.575000  2.566356  11.5  12.750  14.25
       72                 18.0  14.055556  2.222141  11.0  12.500  13.50
       73                 29.0  13.620690  2.520116   9.5  11.500  13.00
       74                 15.0  15.966667  1.302013  13.5  15.000  16.50
       75                 20.0  16.350000  2.814904  11.5  14.375  16.00
       76                 22.0  15.786364  3.086884  12.0  13.300  14.95
       77                 18.0  15.238889  2.361241  11.1  13.900  15.65
       78                 22.0  15.545455  2.090962  11.2  13.875  15.65
       79                 23.0  15.243478  2.346918  11.3  13.300  15.00
       80                  7.0  16.800000  2.235322  14.3  14.950  16.50
       81                 13.0  16.053846  2.199475  12.6  14.900  16.20
       82                 20.0  16.670000  2.250170  11.6  15.375  16.70
2      70                  5.0  16.500000  3.082207  12.5  14.500  17.50
       71                  4.0  16.750000  2.901149  14.0  14.375  16.75
       72                  5.0  18.700000  3.251923  14.5  18.000  18.00
       73                  7.0  16.428571  2.729905  14.0  14.750  15.50
       74                  6.0  15.333333  0.930949  14.0  14.750  15.50
       75                  6.0  15.083333  1.393437  13.5  14.125  14.75
       76                  8.0  16.050000  2.792848  12.2  15.025  15.60
       77                  4.0  15.000000  2.507323  12.8  13.775  14.30
       78                  6.0  16.233333  2.721519  13.6  15.100  15.75
       79                  4.0  18.400000  5.062937  14.0  14.525  17.40
       80                  9.0  18.366667  3.444924  14.7  15.300  17.30
       81                  4.0  17.500000  2.977695  14.2  15.400  17.70
       82                  2.0  19.950000  6.576093  15.3  17.625  19.95
3      70                  2.0  14.750000  0.353553  14.5  14.625  14.75
       71                  4.0  16.375000  2.495830  14.0  14.375  16.25
       72                  5.0  15.400000  1.431782  13.5  14.500  15.50
       73                  4.0  15.625000  2.657536  13.5  13.500  15.00
       74                  6.0  17.666667  2.359378  15.0  15.750  17.75
       75                  4.0  16.000000  1.779513  13.5  15.375  16.50
       76                  4.0  16.575000  0.826136  15.5  16.175  16.70
       77                  6.0  16.316667  1.989389  13.5  14.975  16.60
       78                  8.0  16.200000  1.930951  14.2  14.775  15.65
       79                  2.0  17.200000  2.828427  15.2  16.200  17.20
       80                 13.0  16.015385  2.402029  11.4  15.000  16.40
       81                 12.0  16.183333  1.982576  12.6  14.700  16.45
       82                  9.0  15.833333  1.500000  13.9  14.500  15.70


                      75%   max
origin model year
1      70          14.750  18.5
       71          15.500  20.5
       72          15.750  19.5
       73          15.000  19.5
       74          17.000  18.0
       75          18.625  21.0
       76          17.675  22.2
       77          16.775  19.0
       78          17.075  19.2
       79          16.300  22.2
       80          18.400  20.1
       81          16.600  20.7
       82          18.150  20.5
2      70          17.500  20.5
       71          19.125  19.5
       72          19.500  23.5
       73          17.500  21.0
       74          15.875  16.5
       75          16.125  17.0
       76          16.750  21.9
       77          15.525  18.6
       78          15.875  21.5
       79          21.275  24.8
       80          21.700  23.7
       81          19.800  20.4
       82          22.275  24.6
3      70          14.875  15.0
       71          18.250  19.0
       72          16.500  17.0
       73          17.125  19.0
       74          19.000  21.0
       75          17.125  17.5
       76          17.100  17.4
       77          17.850  18.5
       78          17.100  19.4
       79          18.200  19.2
       80          17.900  19.2
       81          17.425  19.4
       82          16.900  18.2

[39 rows x 48 columns]

## Find NaNs
How many NaNs in each column?

We can ask which entries are null, which produces a boolean array

In [24]:
data.isnull()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
393,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False
395,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False

Applying `sum()` to this boolean array will count the number of `True` values in each column

In [25]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

We get complementary information from `info()`

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

We can fill (replace) these missing values, for example with the minimum value in each column

In [30]:
data.fillna(data.min()).describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,103.587940,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.859575,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,92.000000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,125.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

## Count unique values (a histogram)

We finish off, with our good friend the histogram

In [31]:
# Replace code to correspond to relevant auto-mpg variable
#assuming 'age' should be replaced with 'model year' instead of 'origin'
data['model year'].value_counts()

73    40
78    36
76    34
82    31
75    30
70    29
79    29
80    29
81    29
71    28
72    28
77    28
74    27
Name: model year, dtype: int64